.wireframes-1 {
    display: none;
    .container {
        header {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            margin-bottom: 48px;
            .div-logo {
                width: 100%;
                display: flex;
                justify-items: center;
                align-items: center;
                gap: 20px;
                color: $primary-darker;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
            }
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 370px;
                li {
                    a {
                        @include font-utils('Roboto', 400, 0.875rem, 1.026rem, none, $primary-dark);
                    }
                }
            }
            .div-action {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                color: $primary-dark;
                gap: 16px;
                .circle-gray {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $gray-lighting;
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                ul {
                    display: none;
                }
                .div-action {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-2 {
    display: none;
    .container {
        header {
            padding: 25px 0;
            margin-bottom: 76px;
            @include flex-utils(flex, row, center, space-between);
            .div-logo {
                a {
                    @include flex-utils(flex, row, center, space-between);
                    @include font-utils('Roboto', 400, 1rem, auto, none, $primary-dark);
                    gap: 20px;
                }
            }
            .actions {
                @include flex-utils(flex, row, center, space-between);
                gap: 32px;
                span {
                    @include font-utils('Roboto', 500, 0.875rem, 1.026rem, none, $gray-muted);
                }
                button {
                    background-color: $gray-lighting-op80;
                    @include flex-utils(flex, row, center, space-between);
                    padding: 12px 33px 12px 22px;
                    gap: 11px;
                    .circle-gray {
                        @include flex-utils(flex, row, center, center);
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: $gray-light;
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                .actions {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-3 {
    display: none;
    .container {
        header {
            @include flex-utils(flex, row, center, space-between);
            padding: 20px 0;
            margin-bottom: 69px;
            .head-left {
                width: 100%;
                max-width: 700px;
                @include flex-utils(flex, row, center, space-between);
                .div-logo {
                    @include flex-utils(flex, row, center, center);
                    gap: 11px;
                    span {
                        @include font-utils('Roboto', 600, 1rem, auto, none, $white);
                    }
                }
                ul {
                    width: 100%;
                    max-width: 385px;
                    @include flex-utils(flex, row, center, space-between);
                    li {
                        a {
                            @include font-utils('Noto Sans', 500, 0.875rem, 1.192rem, -2%, $white);
                        }
                    }
                }
            }
            .action {
                @include flex-utils(flex, row, center, center);
                gap: 16px;
                .circle-gray {
                    @include flex-utils(flex, row, center, center);
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: $gray-light;
                }
                a {
                    @include font-utils('Noto Sans', 700, 0.875rem, 1.192rem, -2%, $white);
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                .head-left {
                    ul {
                        display: none;
                    }
                }
                .action {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-4 {
    display: none;
    .container {
        header {
            padding: 46px 0;
            margin-bottom: 52px;
            @include flex-utils(flex, row, center, space-between);
            .logo-content {
                @include flex-utils(flex, row, center, center);
                gap: 20px;
                span {
                    @include font-utils('Roboto', 600, 1rem, auto, none, $primary-darker);
                }
            }
            nav {
                @include flex-utils(flex, row, center, space-between);
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 56px;
                    li {
                        @include flex-utils(flex, row, center, center);
                        gap: 11px;
                        a {
                            @include font-utils('Rubik', 400, 0.875rem, 1.037rem, -2%, $primary-dark);
                        }
                        &:last-of-type a {
                            font-weight: 500;
                        }
                        .circle-gray {
                            @include flex-utils(flex, row, center, center);
                            width: 24px;
                            height: 24px;
                            background-color: $gray-light;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                nav {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-5 {
    display: none;
    .container {
        header {
            padding: 46px 0;
            margin-bottom: 52px;
            @include flex-utils(flex, row, center, space-between);
            .logo-content {
                @include flex-utils(flex, row, center, center);
                gap: 20px;
                span {
                    @include font-utils('Roboto', 600, 1rem, auto, none, $primary-darker);
                }
            }
            nav {
                @include flex-utils(flex, row, center, space-between);
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 56px;
                    li {
                        @include flex-utils(flex, row, center, center);
                        gap: 11px;
                        a {
                            @include font-utils('Rubik', 400, 0.75rem, 1.037rem, -2%, $primary-dark);
                        }
                        &:last-of-type a {
                            font-weight: 500;
                        }
                        .circle-gray {
                            @include flex-utils(flex, row, center, center);
                            width: 24px;
                            height: 24px;
                            background-color: $gray-light;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                nav {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-6 {
    display: none;
    background-color: $primary-medium;
    .container {
        header {
            @include flex-utils(flex, row, center, space-between);
            padding: 32px 0;
            margin-bottom: 78px;
            .logo {
                @include flex-utils(flex, row, center, center);
                gap: 20px;
                span {
                    @include font-utils('Roboto', 700, 1rem, auto, none, $white);
                }
            }
            nav {
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 56px;
                    li {
                        a {
                            @include font-utils('PT Sans', 400, 0.938rem, 1.213rem, -1%, $white);
                        }
                        button {
                            @include font-utils('PT Sans', 700, 0.938rem, 1.213rem, -1%, $white);
                            padding: 13px 40px;
                            border: 1px solid $white;
                            border-radius: 5px;
                        }
                    }
                    &:last-of-type li {
                        gap: 63px;
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                nav {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-7 {
    display: none;
    .container {
        header {
            @include flex-utils(flex, row, center, space-between);
            padding: 20px 0;
            margin-bottom: 99px;
            .m-l-content {
                .menu {
                    display: none;
                }
                .logo {
                    @include flex-utils(flex, row, center, center);
                    gap: 19.30px;
                    span {
                        @include font-utils('Roboto', 700, 1rem, auto, none, $primary-darker);
                    }
                }
            }
            ul {
                @include flex-utils(flex, row, center, center);
                gap: 56px;
                li {
                    a {
                        @include font-utils('Fira Sans', 400, 0.875rem, 1.05rem, none, $primary-dark);
                    }
                }
            }
            .actions {
                @include flex-utils(flex, row, center, center);
                gap: 25px;
                a {
                    @include font-utils('Fira Sans', 700, 0.875rem, 1.05rem, none, $primary-dark);
                }
                button {
                    background-color: $gray-muted;
                    padding: 8px 20px;
                    border-radius: 120px;
                    @include font-utils('Fira Sans', 500, 0.875rem, 1.05rem, none, $white);
                }
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                .m-l-content {
                    @include flex-utils(flex, row, center, center);
                    .menu {
                        display: block;
                        margin-right: 28px;
                    }
                }
                ul {
                    display: none;
                }
                .actions {
                    a {
                        display: none;
                    }
                }
            }
        }
    }
}

.wireframes-8 {
    background: $gray-gradient-bg-8;
    header {
        background-color: $white;
        padding: 23px 0;
        margin-bottom: 113px;
        .container {
            @include flex-utils(flex, row, center, space-between);
            .logo {
                @include flex-utils(flex, row, center, center);
                gap: 19.30px;
                span {
                    @include font-utils('Roboto', 700, 1rem, auto, none, $primary-dark);
                }
            }
            nav {
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 56px;
                    li {
                        a {
                            @include font-utils('Fira Sans', 400, 0.875rem, 1.05rem, none, $primary-dark);
                        }
                    }
                    .menu {
                        margin-left: 24px;
                    }
                }
            }
        }
    }
    @include responsivo('tablet') {
        header {
            .container {
                nav {
                    ul {
                        li {
                            display: none;
                        }
                        .menu {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.wireframes-9 {
    display: none;
    margin-bottom: 73px;
    .container {
        header {
            padding: 36px 0;
            @include flex-utils(flex, row, center, space-between);
            .logo-content {
                @include flex-utils(flex, row, center, center);
                gap: 48px;
                .menu {
                    display: none;
                }
                a {
                    @include font-utils('Source Sans Pro', 400, 1rem, 1.257rem, -1%, $primary-dark);
                }
            }
            .btns {
                @include flex-utils(flex, row, center, center);
                gap: 34px;
                button {
                    @include font-utils('Source Sans Pro', 400, 0.938rem, 1.179rem, -1%, $primary-dark);
                    padding: 10px 20px;
                    background-color: transparent;
                    border: 1px solid $gray-medium;
                    border-radius: 8px;
                }
                .fill-insta {
                    @include flex-utils(flex, row, center, center);
                    padding: 12px 11px;
                    background-color: $gray-lighting;
                    border-radius: 8px;
                }
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                .logo-content {
                    gap: 26px;
                    .menu {
                        display: block;
                    }
                    a {
                        display: none;
                    }
                }
                .btns {
                    .fill-insta {
                        display: none;
                    }
                }
            }
        }
    }
}

.wireframes-10 {
    display: none;
    background-color: $primary-darker;
    .container {
        header {
            @include flex-utils(flex, row, center, space-between);
            padding: 20px 0;
            margin-bottom: 105px;
            nav {
                @include flex-utils(flex, row, center, center);
                gap: 49px;
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 40px;
                    li {
                        a {
                            @include font-utils('Barlow', 500, 0.875rem, 1.313rem, 3%, $white);
                        }
                    }
                }
            }
            .contact-menu {
                @include flex-utils(flex, row, center, center);
                gap: 54px;
                .insta {
                    @include flex-utils(flex, row, center, center);
                    gap: 16px;
                    span {
                        @include font-utils('Barlow', 500, 0.875rem, 1.313rem, 3%, $white);
                    }
                }
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                margin-bottom: 25px;
                nav {
                    ul {
                        display: none;
                    }
                }
                .contact-menu {
                    .insta {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.wireframes-11 {
    header {
        background-color: $white;
        padding: 24px 0;
        .container {
            @include flex-utils(flex, row, center, space-between);
            .h-left {
                @include flex-utils(flex, row, center, space-between);
                gap: 75px;
                width: 100%;
                border-right: 1px solid $gray-light;
                .logo {
                    @include flex-utils(flex, row, center, center);
                    gap: 20px;
                    span {
                        @include font-utils('Roboto', 700, 1rem, auto, auto, $primary-dark);
                    }
                }
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 48px;
                    margin-right: 136px;
                    li {
                        a {
                            @include font-utils('Mulish', 400, 0.875rem, 1.313rem, auto, $gray-muted);
                        }
                    }
                }
            }
            .h-right {
                @include flex-utils(flex, row, center, space-between);
                width: 100%;
                .search {
                    @include flex-utils(flex, row, center, center);
                    gap: 22px;
                    margin-left: 40px;
                    a {
                        @include font-utils('Mulish', 400, 0.875rem, 1.313rem, auto, $gray-muted);
                    }
                }
                .menu {
                    @include flex-utils(flex, row, center, center);
                    gap: 43px;
                    a {
                        @include font-utils('Mulish', 400, 0.875rem, 1.313rem, auto, $gray-muted);
                    }
                }
            }
        }
    }
    @include responsivo('tablet') {
        header {
            .container {
                .h-left {
                    border-right: none;
                    ul {
                        display: none;
                    }
                }
                .h-right {
                    .search {
                        a {
                            display: none;
                        }
                    }
                    .menu {
                        a {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

