.wireframes-1 {
    display: none;
    .container {
        header {
            display: flex;
            justify-content: space-between;
            padding: 20px 0;
            margin-bottom: 48px;
            .div-logo {
                width: 100%;
                display: flex;
                justify-items: center;
                align-items: center;
                gap: 20px;
                color: $primary-darker;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
            }
            ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                max-width: 370px;
                li {
                    a {
                        @include font-utils('Roboto', 400, 0.875rem, 1.026rem, none, $primary-dark);
                    }
                }
            }
            .div-action {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: right;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                color: $primary-dark;
                gap: 16px;
                .circle-gray {
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $gray-lighting;
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                ul {
                    display: none;
                }
                .div-action {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-2 {
    display: none;
    .container {
        header {
            padding: 25px 0;
            margin-bottom: 76px;
            @include flex-utils(flex, row, center, space-between);
            .div-logo {
                a {
                    @include flex-utils(flex, row, center, space-between);
                    @include font-utils('Roboto', 400, 1rem, auto, none, $primary-dark);
                    gap: 20px;
                }
            }
            .actions {
                @include flex-utils(flex, row, center, space-between);
                gap: 32px;
                span {
                    @include font-utils('Roboto', 500, 0.875rem, 1.026rem, none, $gray-muted);
                }
                button {
                    background-color: $gray-lighting-op80;
                    @include flex-utils(flex, row, center, space-between);
                    padding: 12px 33px 12px 22px;
                    gap: 11px;
                    .circle-gray {
                        @include flex-utils(flex, row, center, center);
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        background-color: $gray-light;
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                .actions {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-3 {
    display: none;
    .container {
        header {
            @include flex-utils(flex, row, center, space-between);
            padding: 20px 0;
            margin-bottom: 69px;
            .head-left {
                width: 100%;
                max-width: 700px;
                @include flex-utils(flex, row, center, space-between);
                .div-logo {
                    @include flex-utils(flex, row, center, center);
                    gap: 11px;
                    span {
                        @include font-utils('Roboto', 600, 1rem, auto, none, $white);
                    }
                }
                ul {
                    width: 100%;
                    max-width: 385px;
                    @include flex-utils(flex, row, center, space-between);
                    li {
                        a {
                            @include font-utils('Noto Sans', 500, 0.875rem, 1.192rem, -2%, $white);
                        }
                    }
                }
            }
            .action {
                @include flex-utils(flex, row, center, center);
                gap: 16px;
                .circle-gray {
                    @include flex-utils(flex, row, center, center);
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: $gray-light;
                }
                a {
                    @include font-utils('Noto Sans', 700, 0.875rem, 1.192rem, -2%, $white);
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                .head-left {
                    ul {
                        display: none;
                    }
                }
                .action {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-4 {
    display: none;
    .container {
        header {
            padding: 46px 0;
            margin-bottom: 52px;
            @include flex-utils(flex, row, center, space-between);
            .logo-content {
                @include flex-utils(flex, row, center, center);
                gap: 20px;
                span {
                    @include font-utils('Roboto', 600, 1rem, auto, none, $primary-darker);
                }
            }
            nav {
                @include flex-utils(flex, row, center, space-between);
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 56px;
                    li {
                        @include flex-utils(flex, row, center, center);
                        gap: 11px;
                        a {
                            @include font-utils('Rubik', 400, 0.875rem, 1.037rem, -2%, $primary-dark);
                        }
                        &:last-of-type a {
                            font-weight: 500;
                        }
                        .circle-gray {
                            @include flex-utils(flex, row, center, center);
                            width: 24px;
                            height: 24px;
                            background-color: $gray-light;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                nav {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-5 {
    display: none;
    .container {
        header {
            padding: 46px 0;
            margin-bottom: 52px;
            @include flex-utils(flex, row, center, space-between);
            .logo-content {
                @include flex-utils(flex, row, center, center);
                gap: 20px;
                span {
                    @include font-utils('Roboto', 600, 1rem, auto, none, $primary-darker);
                }
            }
            nav {
                @include flex-utils(flex, row, center, space-between);
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 56px;
                    li {
                        @include flex-utils(flex, row, center, center);
                        gap: 11px;
                        a {
                            @include font-utils('Rubik', 400, 0.75rem, 1.037rem, -2%, $primary-dark);
                        }
                        &:last-of-type a {
                            font-weight: 500;
                        }
                        .circle-gray {
                            @include flex-utils(flex, row, center, center);
                            width: 24px;
                            height: 24px;
                            background-color: $gray-light;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                nav {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}

.wireframes-6 {
    background-color: $primary-medium;
    .container {
        header {
            @include flex-utils(flex, row, center, space-between);
            padding: 32px 0;
            margin-bottom: 78px;
            .logo {
                @include flex-utils(flex, row, center, center);
                gap: 20px;
                span {
                    @include font-utils('Roboto', 700, 1rem, auto, none, $white);
                }
            }
            nav {
                ul {
                    @include flex-utils(flex, row, center, center);
                    gap: 56px;
                    li {
                        a {
                            @include font-utils('PT Sans', 400, 0.938rem, 1.213rem, -1%, $white);
                        }
                        button {
                            @include font-utils('PT Sans', 700, 0.938rem, 1.213rem, -1%, $white);
                            padding: 13px 40px;
                            border: 1px solid $white;
                            border-radius: 5px;
                        }
                    }
                    &:last-of-type li {
                        gap: 63px;
                    }
                }
            }
            .menu {
                display: none;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            header {
                nav {
                    display: none;
                }
                .menu {
                    display: block;
                }
            }
        }
    }
}