.wireframes-1 {
    .container {
        .hero-content {
            @include flex-utils(flex, column, center, space-between);
            text-align: center;
            .texts-primary {
                @include flex-utils(flex, column, center, space-between);
                h1 {
                    @include font-utils('Montserrat', 800, 3rem, 3.657rem, -1%, $primary-medium);
                    margin-bottom: 24px;
                    width: 100%;
                    max-width: 863px;
                }
                p {
                    @include font-utils('Roboto', 400, 1.125rem, 1.318rem, none, $primary-dark);
                    margin-bottom: 40px;
                }
                .btn-input {
                    @include flex-utils(flex, row, center, space-between);
                    width: 100%;
                    height: 48px;
                    max-width: 448px;
                    border-radius: 120px;
                    background-color: $gray-lighting;
                    padding: 5px 7px 5px 24px;
                    margin-bottom: 64px;
                    input {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        border: none;
                        @include font-utils('Roboto', 400, 0.875rem, 1.026rem, none, $gray-muted);
                    }
                    button {
                        width: 100%;
                        max-width: 124px;
                        border-radius: 120px;
                        background-color: $gray-muted;
                        @include font-utils('Roboto', 500, 0.875rem, 1.026rem, none, $white);
                        padding: 11px 20px;
                    }
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            .hero-content {
                .texts-primary {
                    h1 {
                        font-size: 1.5rem;
                        line-height: 2.1rem;
                        letter-spacing: -2%;
                    }
                    p {
                        font-size: 1rem;
                        line-height: 1.4rem;
                    }
                    .btn-input {
                        @include flex-utils(flex, column, center, space-between);
                        gap: 11px;
                        background-color: transparent;
                        input {
                            width: 100%;
                            background-color: $gray-lighting;
                            padding: 16px 24px;
                            border-radius: 120px;
                        }
                        button {
                            width: 100%;
                            max-width: 100%;
                            padding: 16px auto;
                        }
                    }
                }
            }
        }
    }
}

.wireframes-2 {
    .container {
        .hero-content {
            width: 100%;
            @include flex-utils(flex, row, center, space-between);
            margin-bottom: 102px;
            .left-content {
                width: 100%;
                h1 {
                    width: 100%;
                    max-width: 586px;
                    @include font-utils('Lato', 800, 3rem, 3.6rem, -1%, $primary-medium);
                    margin-bottom: 16px;
                }
                p {
                    width: 100%;
                    max-width: 463px;
                    @include font-utils('Open Sans', 400, 1.125rem, 1.688rem, none, $primary-dark);
                    margin-bottom: 52px;
                }
                button {
                    @include flex-utils(flex, row, center, space-between);
                    padding: 14px 44px;
                    background-color: $primary-medium;
                    .circle-gray {
                        @include flex-utils(flex, row, center, center);
                        width: 24px;
                        height: 24px;
                        background-color: $gray-light;
                        border-radius: 50%;
                    }
                    span {
                        margin-left: 11px;
                        @include font-utils('Roboto', 700, 0.875rem, 1.026rem, none, $white);
                    }
                }
            }
            .right-content {
                width: 100%;
            }
        }
        .sponsorship {
            .sponsorship-content {
                @include flex-utils(flex, row, center, space-between);
            }
            .points-slides {
                display: none;
            }
            margin-bottom: 81px;
        }
        .retangle-gray {
            width: 100%;
            height: 117px;
            background-color: $gray-secondary;
        }
    }
    @include responsivo('tablet') {
        .container {
            .hero-content {
                text-align: center;
                @include flex-utils(flex, column, center, center);
                .left-content {
                    @include flex-utils(flex, column, center, center);
                }
            }
            .sponsorship {
                margin-bottom: 37px;
                .sponsorship-content {
                    img:nth-of-type(n+5) {
                        display: none;
                    }
                }
                .points-slides {
                    margin-top: 20px;
                    @include flex-utils(flex, row, center, center);
                    gap: 7px;
                    .point {
                        width: 7px;
                        height: 7px;
                        background-color: $gray-secondary-op50;
                        border-radius: 50%;
                    }
                    .point-active {
                        width: 7px;
                        height: 7px;
                        background-color: $gray-secondary;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    @include responsivo('mobile') {
        .container {
            .hero-content {
                .left-content {
                    margin-bottom: 46px;
                }
            }
            .retangle-gray {
                height: 40px;
            }
        }
    }
}

.wireframes-3 {
    background-color: $primary-medium;
    .hero-content {
        @include flex-utils(flex, row, center, space-between);
        .left-content {
            width: 100%;
            h1 {
                width: 100%;
                max-width: 674px;
                font-size: 3rem;
                font-family: 'Noto Sans', sans-serif;
                font-weight: 700;
                line-height: 4.14rem;
                color: $white;
            }
            ul {
                @include flex-utils(flex, row, start, space-between);
                margin-top: 73px;
                li {
                    width: 100%;
                    max-width: 186px;
                    .circle-border {
                        @include flex-utils(flex, row, center, center);
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        border: 1px solid $white;
                        margin-bottom: 15px;
                    }
                    p {
                        font-family: 'Lato', sans-serif;
                        font-weight: 400;
                        font-size: 1rem;
                        line-height: 1.5rem;
                        color: $white;
                    }
                }
            }
        }
        .right-form {
            @include flex-utils(flex, column, center, center);
            width: 100%;
            .content-form {
                position: relative;
                bottom: -178px;
                @include flex-utils(flex, column, center, center);
                background-color: $white;
                padding: 0 36px 37px 39px;
                border-radius: 8px;
                box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.245);
                img {
                    width: 100%;
                    position: relative;
                    top: -33px;
                }
                .texts {
                    margin-bottom: 36px;
                    h4 {
                        @include font-utils('Noto Sans', 700, 1.125rem, 1.533rem, -1%, $primary-dark);
                        margin-bottom: 8px
                    }
                    p {
                        @include font-utils('Lato', 400, 1rem, 1.2rem, none, $gray-muted);
                    }
                }
                .inputs {
                    width: 100%;
                    @include flex-utils(flex, column, center, center);
                    gap: 20px;
                    margin-bottom: 23px;
                    input {
                        width: 100%;
                        height: 100%;
                        padding: 18px 22px;
                        background-color: $gray-lighting;
                        border: none;
                        @include font-utils('Roboto', 400, 0.875rem, 1.026rem, none, $gray-secondary);
                        border-radius: 8px;
                    }
                }
                button {
                    width: 100%;
                    height: 54px;
                    border-radius: 8px;
                    background-color: $primary-dark;
                    padding: 16px auto;
                    @include font-utils('Noto Sans', 600, 1rem, 1.362rem, -3%, $white);
                }
            }
        }
    }
    .sponsorship {
        padding-top: 64px;
        padding-bottom: 92px;
        width: 100%;
        background-color: $white;
        .container {
            h6 {
                @include font-utils('Noto Sans', 500, 0.875rem, 1.192rem, -1%, $gray-muted);
            }
            .sponsorship-content {
                margin-top: 23px;
                width: 100%;
                max-width: 700px;
                @include flex-utils(flex, row, center, space-between);
            }
            .points-contents {
                display: none
            }
        }
    }
    @include responsivo('tablet') {
        .hero-content {
            @include flex-utils(flex, column, center, center);
            text-align: center;
            .left-content {
                margin-bottom: 56px;
                @include flex-utils(flex, column, center, center);
                ul {
                    @include flex-utils(flex, column, center, center);
                    gap: 32px;
                    li {
                        width: 100%;
                        max-width: 289px;
                        @include flex-utils(flex, row, center, center);
                        gap: 27px;
                        .circle-border {
                            width: 36px;
                        }
                        p {
                            text-align: left;
                        }
                    }
                }
            }
            .right-form {
                .content-form {
                    bottom: -44px;
                }
            }
        }
        .sponsorship {
            .container {
                text-align: center;
                @include flex-utils(flex, column, center, space-around);
                .sponsorship-content {
                    width: 100%;
                    max-width: 100%;
                    img:nth-of-type(3) {
                        display: none;
                    }
                }
                .point-contents {
                    margin-top: 28px;
                    display: block;
                    @include flex-utils(flex, row, center, center);
                    gap: 7px;
                    width: 100%;
                    height: 100%;
                    .point {
                        width: 7px;
                        height: 7px;
                        background-color: $gray-secondary-op50;
                        border-radius: 50%;
                    }
                    .point-active {
                        width: 7px;
                        height: 7px;
                        background-color: $gray-secondary;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}

.wireframes-4 {
    .container {
        .hero-content {
            @include flex-utils(flex, row, center, space-between);
            .left-texts {
                width: 100%;
                h1 {
                    margin-bottom: 47px;
                    width: 100%;
                    max-width: 696px;
                    @include font-utils('Rubik', 700, 3.5rem, 4.2rem, -1%, $primary-dark);
                }
                .dowload-app {
                    @include flex-utils(flex, row, center, start);
                    gap: 24px;
                    margin-bottom: 32px;
                    .dowload-content {
                        @include flex-utils(flex, row, center, center);
                        gap: 12px;
                        background-color: $primary-dark;
                        border-radius: 8px;
                        padding: 12px 23px;
                        span {
                            @include font-utils('Rubik', 400, 0.785rem, 0.889rem, none, $white);
                            margin-bottom: 2px;
                        }
                        p {
                            @include font-utils('Rubik', 700, 1rem, 1.185rem, none, $white);
                        }
                    }
                }
                p {
                    @include font-utils('Rubik', 400, 1.125rem, 1.688rem, none, $gray-muted);
                }
            }
            .right-mockup {
                width: 100%;
                @include flex-utils(flex, row, center, center);
                img {
                    position: relative;
                    bottom: -101px;
                }
            }
        }
    }
    .rentagle-radius {
        border-radius: 40px 40px 0px 0px;
        width: 100%;
        height: 205px;
        background-color: $primary-dark;
        .container {
            position: relative;
            .arrow-down-content {
                position: absolute;
                top: -1.500rem;
                left: 1.5rem;
                @include flex-utils(flex, row, center, center);
                background-color: $white;
                padding: 21px;
                border-radius: 12px;
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            .hero-content {
                @include flex-utils(flex, column, center, center);
                .left-texts {
                    @include flex-utils(flex, column, center, center);
                    text-align: center;
                }
            }
        }
        .rentagle-radius {
            .container {
                .arrow-down-content {
                    left: 1.125rem;
                }
            }
        }
    }
    @include responsivo('mobile') {
        .container {
            .hero-content {
                .left-texts {
                    h1 {
                        font-size: 1.875rem;
                        line-height: 2.25rem;
                    }
                    .dowload-app {
                        .dowload-content {
                            .group-text {
                                p {
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }
                }
            }
        }
        .rentagle-radius {
            height: 100px;
            .container {
                .arrow-down-content {
                    display: none;
                }
            }
        }
    }
}

.wireframes-5 {
    .container {
        .hero-content {
            @include flex-utils(flex, row, center, space-between);
            .left-texts {
                width: 100%;
                .span-gray {
                    @include font-utils('Poppins', 500, 0.813rem, 1.219rem, 16%, $gray-muted);
                    padding: 5px 20px;
                    border-radius: 120px;
                    background-color: $gray-lighting;
                }
                h1 {
                    margin-top: 25px;
                    margin-bottom: 44px;
                    width: 100%;
                    max-width: 592px;
                    @include font-utils('Poppins', 700, 3rem, 3.9rem, none, $primary-dark);
                }
                ul {
                    @include flex-utils(flex, column, start, center);
                    gap: 24px;
                    margin-bottom: 64px;
                    li {
                        @include flex-utils(flex, row, center, start);
                        gap: 18px;
                        .circle-border-gray {
                            @include flex-utils(flex, row, center, center);
                            width: 24px;
                            height: 24px;
                            border-radius: 50%;
                            border: 1px solid $gray-secondary;
                        }
                        p {
                            @include font-utils('Poppins', 400, 1rem, 1.5rem, -0.5%, $gray-muted);
                        }
                    }
                }
                .dowload-app {
                    @include flex-utils(flex, row, center, start);
                    gap: 24px;
                    margin-bottom: 32px;
                    .dowload-content {
                        @include flex-utils(flex, row, center, center);
                        gap: 12px;
                        background-color: $primary-dark;
                        border-radius: 8px;
                        padding: 12px 23px;
                        span {
                            @include font-utils('Rubik', 400, 0.75rem, 0.889rem, none, $white);
                            margin-bottom: 2px;
                        }
                        p {
                            @include font-utils('Rubik', 700, 1rem, 1.185rem, none, $white);
                        }
                    }
                }
            }
            .right-mockup {
                width: 100%;
                @include flex-utils(flex, row, center, center);
                img {
                    position: relative;
                }
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            .hero-content {
                @include flex-utils(flex, column, center, center);
                .left-texts {
                    @include flex-utils(flex, column, center, center);
                    text-align: center;
                }
            }
        }

    }
    @include responsivo('mobile') {
        .container {
            .hero-content {
                .left-texts {
                    h1 {
                        font-size: 1.875rem;
                        line-height: 2.25rem;
                    }
                    .dowload-app {
                        .dowload-content {
                            .group-text {
                                p {
                                    font-size: 0.875rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.wireframes-6 {
    .container {
        .hero-content {
            @include flex-utils(flex, row, center, space-between);
            .left-content {
                span {
                    @include font-utils('Open Sans', 400, 1rem, 1.5rem, none, $gray-medium);
                    margin-bottom: 22px;
                }
                h1 {
                    width: 100%;
                    max-width: 709px;
                    @include font-utils('PT Sans', 400, 4rem, 5rem, -2%, $white);
                    margin-bottom: 44px;
                }
                .input-content {
                    @include flex-utils(flex, row, center, space-between);
                    gap: 42px;
                    width: 100%;
                    max-width: 489px;
                    background-color: $gray-muted;
                    border-radius:  7px;
                    padding: 13px 16px 14px 23px;
                    margin-bottom: 46px;
                    input {
                        @include font-utils('Open Sans', 400, 1rem, 1.362rem, none, $gray-light);
                        background-color: transparent;
                        border: transparent;
                        &::placeholder {
                            @include font-utils('Open Sans', 400, 1rem, 1.362rem, none, $gray-light);
                        }
                    }
                    button {
                        @include font-utils('PT Sans', 700, 0.938rem, 1.213rem, -1%, $primary-dark);
                        padding: 13px 23.30px;
                        background-color: $gray-light;
                        border-radius: 5px;
                    }
                }
                .group-info {
                    @include flex-utils(flex, row, center, start);
                    gap: 18px;
                    .circle-gray-border {
                        @include flex-utils(flex, row, center, center);
                        width: 24px;
                        height: 24px;
                        border-radius: 50%;
                        border: 1px solid $gray-middle;
                    }
                    p {
                        @include font-utils('Open Sans', 400, 1rem, 1.5rem, none, $gray-medium);
                    }
                }
            }
        }
    }
    .sponsors {
        @include flex-utils(flex, row, center, space-between);
        margin-top: 195px;
        .sponsor-content {
            @include flex-utils(flex, row, center, space-between);
            padding: 46px 75px 46px 1.5rem;
            border-radius: 8px 8px 0 0;
            width: 100%;
            background-color: $white;
        }
        .arrow-content {
            width: 100%;
            max-width: 216px;
            padding-right: 1.5rem;
            @include flex-utils(flex, row, center, center);
        }
    }
    @include responsivo('tablet') {
        .container {
            .hero-content {
                @include flex-utils(flex, column, center, center);
                .left-content {
                    @include flex-utils(flex, column, center, center);
                    text-align: center;
                }
            }
        }
        .sponsors {
            margin-top: 0;
            @include flex-utils(flex, column-reverse, center, center);
            gap: 37px;
            .sponsor-content {
                padding: 46px 1.25rem;
                img:nth-of-type(n+5) {
                    display: none;
                }
            }
        }
    }
    @include responsivo('mobile') {
        .hero-content {
            .left-content {
                h1 {
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
                .input-content {
                    display: none;
                }
            }
        }
        .sponsors {
            .sponsor-content {
                img:nth-of-type(n+4) {
                    display: none;
                }
            }
        }
    }
}

.wireframes-7 {
    .container {
        .hero-content {
            @include flex-utils(flex, column, center, center);
            h1 {
                @include font-utils('Fira Sans', 700, 3rem, 3.6rem, -2%, $primary-medium);
                width: 100%;
                max-width: 863px;
                text-align: center;
                margin-bottom: 26px;
            }
            p {
                @include font-utils('Mukita', 400, 1.125rem, 1.87rem, none, $primary-dark);
                margin-bottom: 36px;
            }
            .button-content {
                @include flex-utils(flex, row, center, center);
                gap: 16px;
                margin-bottom: 81px;
                .btn-1 {
                    background-color: $primary-medium;
                    padding: 11px 32px;
                    border-radius: 120px;
                    @include font-utils('Fira Sans', 500, 0.875rem, 1.05rem, none, $white);
                }
                .btn-2 {
                    background-color: transparent;
                    border: 1px solid $gray-medium;
                    padding: 11px 32px;
                    border-radius: 120px;
                    @include font-utils('Fira Sans', 500, 0.875rem, 1.05rem, none, $gray-muted);
                }
            }
        }
    }
    @include responsivo('mobile') {
        .container {
            .hero-content {
                h1 {
                    font-size: 1.75rem;
                    line-height: 2.1rem;
                }
            }
        }
    }
}

.wireframes-8 {
    display: none;
    .container {
        .homing {
            @include flex-utils(flex, row, center, space-between);
            .home-left {
                width: 100%;
                span {
                    @include font-utils('IBM Plex Sans', 300, 2.5rem, 2.5rem, -1%, $white);
                    margin-bottom: 15px;
                }
                h1 {
                    @include font-utils('IBM Plex Sans', 700, 5.5rem, 5.5rem, -2%, $gray-middle);
                    margin-bottom: 64px;
                }
                .itens {
                    @include flex-utils(flex, row, center, start);
                    gap: 26px;
                    li {
                        @include flex-utils(flex, column, center, center);
                        width: 100%;
                        max-width: 145px;
                        padding: 43px 30px 35px 30px;
                        background-color: $primary-dark;
                        transition: all .3s ease;
                        border-radius: 6px;
                        cursor: pointer;
                        .circle-gray-border {
                            @include flex-utils(flex, row, center, center);
                            width: 40px;
                            height: 40px;
                            background-color: transparent;
                            border: 1px solid $white;
                            border-radius: 50%;
                            margin-bottom: 31px;
                        }
                        p {
                            @include font-utils('Noto Sans', 400, 0.775rem, 1.192rem, none, $white);
                        }
                        &:hover {
                            background-color: $white;
                            p {
                                color: $primary-medium;
                            }
                            .circle-gray-border {
                                border: 1px solid $primary-dark;
                            }
                        }
                    }
                }
            }
            .home-right {
                width: 100%;
                @include flex-utils(flex, row, center, space-between);
                p {
                    @include font-utils('IMB Ples Sans', 400, 1.125rem, 1.553rem, none, $white);
                    width: 100%;
                    max-width: 154px;
                    text-align: right;
                }
            }
        }
    }
    .white-div {
        background-color: $white;
        width: 100%;
        height: 145px;
        .container {
            .steps {
                box-shadow: 0 0 40px 0 $gray-muted-op10;
                position: relative;
                bottom: 69px;
                @include flex-utils(flex, row, center, space-between);
                padding: 40px 86px 42px 46px;
                background-color: $white;
                border-radius: 6px;
                li {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    @include flex-utils(flex, row, center, center);
                    gap: 21px; 
                    &:not(:last-child)::after {
                        content: '....';  // Aqui estão os três pontinhos
                        position: absolute;
                        right: 0;
                        transform: rotate(90deg);
                        color: $gray-medium;
                        font-size: 2.5rem;
                    }
                
                    .texts {
                        @include flex-utils(flex, column, start, start);
                        gap: 8px;
                
                        h4 {
                            @include font-utils('IBM Plex Sans', 400, 1.125rem, 1.125rem, -2%, $primary-dark);
                        }
                
                        p {
                            @include font-utils('IBM Plex Sans', 400, 0.938rem, 0.938rem, -1%, $gray-secondary);
                        }
                    }
                }
                
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            .homing {
                @include flex-utils(flex, column, center, center);
                .home-left {
                    @include flex-utils(flex, column, center, center);
                    text-align: center;
                    margin-bottom: 34px;
                    .itens {
                        gap: 5px;
                        li {
                            &:last-child {
                                .circle-gray-border {
                                    margin-bottom: 10px
                                }
                            }
                        }
                    }
                }
                .home-right {
                    @include flex-utils(flex, column, center, center);
                    position: relative;
                    p {
                        width: 100%;
                        max-width: 240px;
                        text-align: center;
                        position: absolute;
                        bottom: 99px;
                        font-size: 1rem;
                        line-height: 1.38rem;
                    }
                }
            }
        }
        .white-div {
            width: auto;
            .container {
                .steps {
                    @include flex-utils(flex, column, center, start);
                    gap: 59px;
                    li {
                        &:not(:last-child)::after {
                            right: auto;
                            bottom: -40px;
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }
    }
}

.wireframes-9 {
    .container {
        .home {
            @include flex-utils(flex, row, center, space-between);
            .left-texts {
                @include flex-utils(flex, column, start, center);
                width: 100%;
                h1 {
                    @include font-utils('Asap', 400, 3.5rem, 3.92rem, none, $primary-medium);
                    width: 100%;
                    max-width: 704px;
                    margin-bottom: 24px;
                    span {
                        font-weight: 700;
                    }
                }
                .p-home {
                    @include font-utils('Source Sans Pro', 400, 1.125rem, 1.688rem, -1%, $gray-muted);
                    margin-bottom: 58px;
                }
                .content-apps {
                    @include flex-utils(flex, row, center, center);
                    gap: 50px;
                    margin-bottom: 102px;
                    .div-app {
                        @include flex-utils(flex, row, center, center);
                        gap: 14px;
                        border: 1.5px solid $gray-middle;
                        padding: 13px 32px 15px 25px;
                        border-radius: 8px;
                        .texts {
                            span {
                                @include font-utils('Asap', 400, 0.75rem, 0.859rem, none, $gray-muted);
                            }
                            h5 {
                                @include font-utils('Asap', 700, 1rem, 1.146rem, none, $gray-muted);
                            }
                        }
                    }
                    .info {
                        @include flex-utils(flex, row, center, center);
                        gap: 11px;
                        .gray-circle {
                            @include flex-utils(flex, row, center, center);
                            width: 20px;
                            height: 20px;
                            border-radius: 50%;
                            background-color: $gray-light;
                        }
                        p {
                            @include font-utils('Source Sans Pro', 500, 1rem, 1.5rem, -1%, $primary-dark);
                        }
                    }
                }
            }
            .right-mockup {
                @include flex-utils(flex, row, center, center);
                width: 100%;
            }
        }

        .about-steps {
            @include flex-utils(flex, row, center, space-between);
            margin-top: 89px;
            border: 1px solid $gray-light;
            border-radius: 12px;
            padding: 40px 82px 65px 65px;
            li {
                @include flex-utils(flex, row, center, start);
                gap: 16px;
                .circle-gray {
                    @include flex-utils(flex, row, center, center);
                    width: 61px;
                    height: 61px;
                    border-radius: 50%;
                    background-color: $gray-light;
                }
                .texts {
                    h4 {
                        @include font-utils('Asap', 600, 1.125rem, 1.125rem, -2%, $primary-dark);
                        margin-bottom: 8px;
                    }
                    p {
                        @include font-utils('Source Sans Pro', 400, 1rem, 1rem, -1%, $gray-secondary);
                    }
                }
            }
        }
    }
    @include responsivo('tablet') {
        .container {
            .home {
                @include flex-utils(flex, column, center, center);
                .left-texts {
                    @include flex-utils(flex, column, center, center);
                    text-align: center;
                    .content-apps {
                        margin-bottom: 48px;
                    }
                    .icon-mouse {
                        display: none;
                    }
                }
            }
            .about-steps {
                @include flex-utils(flex, column, center, center);
                gap: 39px;
                margin-top: 0;
            }
        }
    }
    @include responsivo('mobile') {
        .home {
            @include flex-utils(flex, column, center, center);
            .left-texts {
                h1 {
                    font-size: 2rem;
                    line-height: 2.24rem;
                }
            }
        }
        .container {
            .about-steps {
                @include flex-utils(flex, column, start, center);
            }
        }
    }
}

.wireframes-10 {
    .container {
        .home {
            @include flex-utils(flex, row, center, space-between);
            .left-home {
                @include flex-utils(flex, column, start, center);
                .span-gray {
                    @include font-utils('Barlow Condensed', 700, 0.875rem, 1.313rem, 16%, $white-op65);
                    margin-bottom: 6px;
                }
                h1 {
                    @include font-utils('Barlow', 700, 3.5rem, 4.375rem, none, $white);
                    margin-bottom: 19px;
                    width: 100%;
                    max-width: 647px;
                }
                p {
                    @include font-utils('Barlow', 400, 1.125rem, 1.688rem, -1%, $gray-medium);
                    margin-bottom: 67px;
                }
                button {
                    @include font-utils('Barlow Condensed', 700, 0.938rem, 1.406rem, 6%, $primary-dark);
                    padding: 14.30px 56px;
                    background-color: $white;
                    border-radius: 8px;
                }
                ul {
                    @include flex-utils(flex, row, start, center);
                    gap: 72px;
                    margin-top: 110px;
                    li {
                        @include flex-utils(flex, column, start, center);
                        cursor: pointer;
                        span {
                            @include font-utils('Barlow', 400, 1rem, 1.5rem, none, $white-op65);
                            transition: all .3s ease;
                        }
                        p {
                            @include font-utils('Barlow Condensed', 600, 1rem, 1.5rem, none, $white-op65);
                            transition: all .3s ease;
                        }
                        &:hover {
                            span {
                                color: $white;
                            }
                            p {
                                color: $white;
                            }
                        }
                    }
                }
            }
            .right-home {
                @include flex-utils(flex, row, end, center);
                .lines-sliders {
                    position: relative;
                    right: 23px;
                    @include flex-utils(flex, row, center, center);
                    gap: 12px;
                    margin-bottom: 79px;
                    cursor: pointer;
                    .line-active {
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: $white;
                    }
                    .line {
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                        background-color: $white-op65;
                        &:hover {
                            background-color: $white;
                        }
                    }
                }
            }
        }
    }
    .white-arrow-closed {
        position: relative;
        padding: 76px 0 16px 0;
        background-color: $white;
        @include flex-utils(flex, column, center, center);
        text-align: center;
        .circle-gray {
            @include flex-utils(flex, row, center, center);
            top: -28px;
            position: absolute;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background-color: $gray-lighting;
        }
        .heading {
            span {
                @include font-utils('Barlow Condensed', 700, 0.875rem, 1.313rem, 16%, $gray-secondary);
                margin-bottom: 8px;
            }
            h2 {
                @include font-utils('Barlow', 700, 2rem, 2.5rem, -2%, $gray-medium);
            }
        }
    }    
    @include responsivo('tablet') {
        .container {
            .home {
                @include flex-utils(flex, column, center, center);
                .left-home {
                    @include flex-utils(flex, column, center, center);
                    text-align: center;
                }
                .right-home {
                    .lines-sliders {
                        display: none;
                    }
                }
            }
        }
    }
    @include responsivo('mobile') {
        .container {
            .home {
                @include flex-utils(flex, column, center, center);
                .left-home {
                    h1 {
                        font-size: 2rem;
                        line-height: 2.5rem;
                    }
                    ul {
                        margin-top: 42px;
                        li {
                            text-align: left;
                        }
                    }
                }
                .right-home {
                    .lines-sliders {
                        display: none;
                    }
                }
            }
        }
    }
}