// Colors Gray

$primary-darker: #33303E;  
$primary-dark: #5F5C6B;  
$primary-medium: #4E4B59; 
$gray-muted: #7A7786;      
$gray-secondary: #8C8A97;  
$gray-middle: #ACABB7; 
$gray-medium: #C6C5CE;   
$gray-light: #E1E0E7;    
$gray-lighting: #F1F0F5; 
$white: #FFFFFF;           
$black: #000000;           

// Opacity Colors

$gray-secondary-op50: hsla(249, 6%, 57%, 0.500);  
$gray-lighting-op80: hsla(252, 20%, 95%, 0.8); 
$gray-muted-op10: hsla(252, 6%, 50%, 0.102);
$white-op65: hsla(0, 0%, 100%, 0.650);

// Gradient Colors

$gray-gradient-bg-8: linear-gradient(180deg, rgba(78,75,89,1) 99%, rgba(78,75,89,0) 100%);
$white-gradient: linear-gradient(55deg, rgba(255, 255, 255, 0.144) 0%, rgba(255, 255, 255, 0) 100%);